[submodule "fresa"]
	path = fresa
	url = https://github.com/josekoalas/fresa.git
	branch = dev
[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt
[submodule "deps/ranges"]
	path = deps/ranges
	url = https://github.com/ericniebler/range-v3
